.room-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
}

.room-card {
  width: max(400px, 45%);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.496);
  box-shadow: 0px 0px 5px 0px black;
  position: relative;
  padding-bottom: 50px;
}

.room-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  opacity: 80%;
}

.room-card-info {
  padding: 1rem;
}

.room-card-info h2, .room-card-info p {
  margin-bottom: 1rem;
}

.btn-request, .btn-join, .btn-rejected, .btn-pending {
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 0.25rem;
  position: absolute;
  bottom: 1rem;
  font-weight: bold;
}

.btn-join {
  background-color: rgba(17, 197, 213, 1) ;
}

.btn-request {
  border: solid 1px rgba(17, 197, 213, 1);
}

.btn-rejected {
  background-color: rgba(255, 0, 0, 0.56);
  cursor: default;
}

.btn-pending {
  background-color: #ac6c0c;
  cursor: default;
}

.btn-request:hover {
  background-color:  rgba(17, 197, 213, 1);
}

.sidebar-container h2 {
  padding: 1.5rem 1rem;
  background-color: #a2157e;
}

.sidebar-items {
  list-style: none;
}

.sidebar-items li {
  padding: 0.75rem 1rem;
  transition: background-color 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.sidebar-items li:hover {
  background-color:rgb(17, 167, 165);
  
}

.selected {
  background-color: rgb(17, 167, 165);
}

.sidebar-requests > li {
  margin-bottom: 20px;
}

.sidebar-requests ul {
  list-style: none;
}

.sidebar-requests > li {
  padding: 0 1rem ;
  margin-bottom: 1rem;
}

.sidebar-requests ul > li {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.requests {
  display: flex;
  gap: 0.5rem;
}