@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(309deg, #251641, #6d2bbf);
  background-repeat: no-repeat;
  animation: AnimatedBackground 15s ease infinite;
  background-size: 400%;
  color: white;
  font-family: Karla;
}

button {
  background-color: inherit;
  /* outline: none; */
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
}

.container {
  padding: 20px;
}

@keyframes AnimatedBackground {
  0% {
    background-position: 0% 51%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 51%
  }
}

.gradient {
  background: -webkit-linear-gradient(left, rgba(17, 197, 213, 1) 0%, rgba(118, 250, 207, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}