@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Karla;
  background-color: #1a1027;
  min-height: 100vh;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
}

.container {
  display: flex;
}

.sidebar {
  flex: 0 0 250px;
  background-color: rgba(0, 0, 0, 0.8);
}

.main-content {
  flex: 1; 
  padding: 0 20px;
}


@keyframes AnimatedBackground {
  0% {
    background-position: 0% 51%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 51%
  }
}

.gradient {
  background: -webkit-linear-gradient(left, rgba(17, 197, 213, 1) 0%, rgba(118, 250, 207, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}