# Dependency directories
node_modules/

# Environment variables file
.env

# Logs
logs/
*.log

# Build files
dist/
build/
out/

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*

# macOS
*.DS_Store

# npm
*.lock
